@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e385f;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    h3 {
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        color: #6481bb;
        margin: 0;
    }
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        border: none;
        padding: 2.5px;
        height: 100%;
        svg {fill: rgb(182, 182, 182);}
    }
    button:hover {
        cursor: pointer;
    }
    input {
        border: none;
        border-radius: 10px 0 0 10px;
        background-color: rgb(228, 228, 228);
        outline: none;
        padding: 5px;
        width: 30px;
        height: 100%;
        transition: .5s;
    }
    input:focus {
        width: 200px;
    }
}

.date {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
    h3 {
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        margin: 0;
        color: #f5f5f5;
        display: flex;
        align-items: center;
        gap: 5px;
        line-height: .4;
        font-weight: 200;
        svg {
            width: 18px;
        }
    }
}

main {
    background-color: #f5f5f5;
    width: 100vw;
    height: 100vh;
    border-radius: 15px;
    z-index: 2;
}

#firstSection {
    background: linear-gradient(115deg, #8DB0F4, #5682D7);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#principalInfo {
    display: flex;
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 110px;
        display: flex;
        line-height: .7;
        color: #f5f5f5;
        margin: 0;
        span{
            font-size: 23px;
            font-weight: 300;
        }
    }
    img {
        height: 160px;
        padding: 15px;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.616));
    }
}

.cards {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 15px;
    padding: 15px;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;  
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35vw;
        height: 11vh;
        flex-shrink: 0; 
        background-color: #3C72DC;
        border: none;
        border-radius: 15px;
        padding: 10px;
        svg {
            color: #f3f3f3;
            width: 20px;
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 2px;
            h3{
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                color: #f3f3f3;
                font-size: 10px;
                display: flex;
                align-items: center;
                line-height: 1;
                margin: 0;
                gap: 2px;
                span {
                    font-size: 25px;
                }
            }
        }
        
    }
}

.sponsor {
    background-color: #203c66;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    gap: 15px;
    p {
        font-size: 13px;
        color: #3f5e8d;
        margin: 0;
    }
    a {
        font-size: 13px;
        color: #3f5e8d;
        img {
            width: 40px;
            filter: grayscale(1);
        }
    }
}

.hoursTime {
    background-color: #EEF0F4;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;  
    gap: 15px;
    .hour {
        width: 17vw;
        height: 15vh;
        background: linear-gradient(115deg, #D9E5FC, #E9F0FE);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        h3 {
            background-color: #5682D7;
            border-radius: 10px 10px 0 0;
            text-align: center;
            font-family: "Poppins", sans-serif;
            color: #f3f3f3;
            font-weight: 400;
            font-size: 15px;
            padding: 6px 0;
            width: 100%;
        }
        img {
            width: 70%;
        }
        h4 {
            font-family: "Poppins", sans-serif;
            color: #2B4086;
            font-weight: 500;
            margin-top: 15px;
            font-size: 21px;
            display: flex;
            line-height: .7;
            gap: 2px;
            span {
                font-size: 10px;
            }
        }
    }
}

.lastSection{
    width: 100vw;
    height: 29vh;
    background-image: url('./background.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}